/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin-top:50px;
}
 a {
  color: black;
  text-transform: uppercase;
 }
 a:hover {
  color: darkgrey;
  text-decoration: none;
 }
.flex-column {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  text-transform: uppercase;
}

.header-right {
  height: 30px;
}

input.search-jobs {
  height: 100%;
  width: 300px;
  margin-right: 10px;
  border: solid #000000 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: black;
}

::-webkit-input-placeholder {
  color: black;
}

.btn {
  display: inline-block;
  color: #000000;
  height: 100%;
  line-height: 100%;
  font-size: 12px;
  letter-spacing: 1px;
  border: solid #000000 2px;
  border-radius: 0px;
  text-decoration: none;
  margin-top: -2.9px;
  text-transform: uppercase;
  vertical-align: middle;
}

.btn:hover {
  background: #f5f5f5;
  text-decoration: none;
}

/*Semantic UI Dropdown Overrides*/
.ui.selection.dropdown {
  border: none;
  width: 200px;
}
div.menu.transition.visible {
  border: none;
  box-shadow: unset;
  width:200px !important;
  border-radius: unset;
}

#root > div > div.row.jobs-list > div.jobs-list-header > div > div > div.menu.transition.visible {
  width:200px;
}


div.ui.active.visible.selection.dropdown {
  box-shadow: 0 0px 6px 0 rgba(34,36,38,.15);
  transition: unset;
  border-radius: unset;

}

.ui.selection.active.dropdown .menu {
  margin: unset;
  min-width: unset;
}

..ui.selection.active.dropdown:hover .menu {
  box-shadow: 0 1.8px 6px 0 rgba(34,36,38,.15);
  border-radius: unset;
}
.ui.dropdown .menu .selected.item, .ui.dropdown.selected {
  background: transparent;
}
.ui.selection.dropdown .menu>.item {
  border-top: unset;
}
.ui.selection.active.dropdown:hover, .ui.selection.active.dropdown:hover .menu, .ui.selection.active.dropdown .menu {
  /*box-shadow: unset;*/
  /*border-color: black;*/
  border: none;
}

.ui.selection.active.dropdown {
  border: none;
  /*border-color: black;*/
}

.dropdown {
  /*width: 400px;*/
  /*border: none;*/
  
}
.dropdown .text {
  width: 100%;
  /*text-align: right;*/
}

.dropdown .icon {
  /*display: none;*/
}

/*End Semantic UI Dropdown Overrides*/

.chevron-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
img.chevron {
  transform: rotate(180deg);
  height: 12px;
  margin-left: 10px;
}

.open img.chevron {
  transform: unset;
}
.jobs-list {
  width: 100%;
  box-shadow: 0px 0px 2px 2px rgba(179,175,179,1);
}

.jobs-list-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  text-transform: uppercase;
  overflow: visible
}

select {
    /*padding-left:65px;*/
    /*height:40px;*/
    /*position:relative;*/
    border: none;
    /*width:300px;*/
    /*display:block;*/
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    border-radius: 0;
    -webkit-box-shadow: none;
}

.job-preview {
 height: 150px;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.job-preview-inner {
  height: 100px;
  width: 100%;
}

.expand-button-container {
  text-align: right;
}


.job-preview h4 {
  margin-bottom: 0px;
}

.job-logo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: grey;
}

.job-row {
  border-top: 1px solid lightgrey;
  width: 100%;
  padding-right: 30px;
}
.job-listing-preview {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.preview-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
}
.job-collapse-toggle-container {
  width: 100px;
  height: 100%;
}

.collapse-button-column {
  height: 100%;
  float: right;
}

.logo-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.test-border {
  height: 100%;
}

.col-sm-2, .col-sm-1 {
  padding: 0px;
}

.row {
  margin-left: unset;
  margin-right: unset
}

.job-content-container {
  margin-bottom: 25px;
}

.map-container {
  height: 300px;
  width: 100%;
  background-color: grey;
}

.job-listing-buttons-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;
}
div[class^="col"] {
  padding: 0;
}
.right-button-column {
  text-align: right;
}

